<section id="content">


    <!-- Page Title
    ============================================= -->
    <section id="page-title" class="page-title-mini">

        <div class="container clearfix">
            <h1>방 정보 상세보기</h1>
            <span>방 정보를 상세히 보실 수 있습니다</span>
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">방 정보 상세보기</li>
            </ol>
        </div>

    </section><!-- #page-title end -->


    <div class="content-wrap" style="padding-bottom: 0px;">

        <div class="container clearfix">

            <!-- Post Content
                      ============================================= -->
            <div class="postcontent nobottommargin clearfix">

                <div class="single-post nobottommargin">

                    <!-- Single Post
                                  ============================================= -->
                    <div class="entry clearfix" style="padding-bottom: 0px; margin-bottom: 0px;">

                        <!-- Entry Title
                                        ============================================= -->
                        <div class="entry-title">
                            <h2>{{title}}</h2>
                            <!--<h2>This is a Standard post with a Preview Image</h2>-->
                        </div><!-- .entry-title end -->

                        <!-- Entry Meta
                                        ============================================= -->
                        <ul class="entry-meta clearfix">
                            <li><i class="icon-calendar3"></i> {{initWriteDate | amDateFormat:"YYYY/MM/DD"}}</li>
                            <li><a href="#"><!--<i class="icon-user"></i>--> 방구조 : {{roomType}}</a></li>
                            <!--<li><i class="icon-folder-open"></i> <a href="#">General</a>, <a href="#">Media</a></li>-->
                            <li><a href="#"><i class="icon-comments"></i> 43 Comments</a></li>
                            <!--<li><a href="#"><i class="icon-camera-retro"></i></a></li>-->
                        </ul><!-- .entry-meta end -->

                        <!-- Entry Image
                                        ============================================= -->
                        <div id="pano" class="entry-image">
                            <noscript>
                                <table style="width:100%;height:100%;">
                                    <tr style="vertical-align:middle;text-align:center;">
                                        <td>ERROR:<br><br>Javascript not activated<br><br></td>
                                    </tr>
                                </table>
                            </noscript>
                            <!--<img src="{{serverHost}}/{{companyIntroImage}}" style="width: 100%;">-->
                        </div><!-- .entry-image end -->

                        <!-- Entry Content ============================================= -->
                        <div class="entry-content notopmargin">

                            <table class="table table-striped">
                                <!--<thead>-->
                                <!--<tr>-->
                                <!--<th></th>-->
                                <!--<th></th>-->
                                <!--<th></th>-->
                                <!--<th></th>-->
                                <!--<th></th>-->
                                <!--</tr>-->
                                <!--</thead>-->
                                <tbody>
                                <tr>
                                    <td><strong>보증금</strong></td>
                                    <td>{{deposit}} 만원</td>
                                    <td><strong>관리</strong><br/><strong>항목</strong></td>
                                    <td>{{manageService}}</td>
                                </tr>
                                <tr>
                                    <td><strong>월세</strong></td>
                                    <td>{{monthlyRentFee}} 만원</td>
                                    <td><strong>관리비</strong></td>
                                    <td>{{manageExpense}} 만원</td>
                                </tr>
                                <tr>
                                    <td><strong>면적</strong></td>
                                    <td>{{areaSize}} 제곱미터</td>
                                    <td><strong>크기</strong></td>
                                    <td>{{actualSize}} 평</td>
                                </tr>
                                <tr>
                                    <td><strong>주차장</strong><br/><strong>여부</strong></td>
                                    <td>{{parking == 1 ? "있음" : "없음"}}</td>
                                    <td><strong>엘리베이터 여부</strong></td>
                                    <td>{{elevator == 1? "있음" : "없음"}}</td>
                                </tr>
                                <tr>
                                    <td><strong>옵션</strong></td>
                                    <td>{{supplyOption}}</td>
                                    <td><strong>입주가능일</strong></td>
                                    <td>{{availableDate | amDateFormat:"YYYY/MM/DD"}}</td>
                                </tr>
                                <tr>
                                    <td><strong>주소</strong></td>
                                    <td>{{addressInfo}}<br /> {{addressDetail}}</td>
                                    <td><strong>도로명 주소</strong></td>
                                    <td>{{locationInfo}}</td>
                                </tr>

                                </tbody>
                            </table>


                            <div class="clear"></div>

                        </div>

                        <!-- Entry Content ============================================= -->
                        <div class="entry-content notopmargin">

                            <div role="tabpanel" class="tab-pane fade in active" style="word-break: break-all"
                                 [innerHTML]="HTMLText">
                            </div><!--.tab-pane-->

                        </div>

                    </div><!-- .entry end -->

                    <div class="clear"></div>


                    <div style="text-align: center">
                        <button class="btn btn-rounded btn-inline" (click)="onListBuildCase()">목록</button>
                        <button class="btn btn-rounded btn-inline"
                                *ngIf="loginMemberIdx != null && loginMemberIdx == memberIdx"
                                (click)="onDelBuildCase()">삭제
                        </button>
                        <button hidden class="btn btn-rounded btn-inline"
                                *ngIf="loginMemberIdx != null && loginMemberIdx == memberIdx"
                                (click)="onUpdateBuildCase()">수정
                        </button>
                    </div>

                    <!-- Comments
                              ============================================= -->
                    <!--<div id="comments" class="clearfix">-->

                    <!--<h3 id="comments-title"><span>-->
                    <!--&lt;!&ndash;<fb:comments-count href="http://themes.semicolonweb.com/html/coworker/blog-single-split.php"></fb:comments-count>&ndash;&gt;-->

                    <!--</span> Comments</h3>-->

                    <!--&lt;!&ndash; Facebook Comments-->
                    <!--============================================= &ndash;&gt;-->
                    <!--<div class="fb-comments" data-width="100%" data-href="http://themes.semicolonweb.com/html/coworker/blog-single-split.php" data-numposts="5" data-colorscheme="light"></div>-->
                    <!--&lt;!&ndash; Facebook Comments end &ndash;&gt;-->

                    <!--</div>&lt;!&ndash; #comments end &ndash;&gt;-->


                </div>

            </div><!-- .postcontent end -->


            <div class="sidebar nobottommargin col_last clearfix">
                <div class="sidebar-widgets-wrap">

                    <div class="widget clearfix">

                        <h4> 업체 정보 </h4>
                        <div id="oc-portfolio-sidebar" class="owl-carousel carousel-widget" data-items="1"
                             data-margin="10" data-loop="true" data-nav="false" data-autoplay="5000">
                            <div class="oc-item">
                                <div class="iportfolio">
                                    <div class="portfolio-image">
                                        <img [routerLink]="routeBizMemberUrl" [src]="companyIntroImageUrl"
                                             alt="Open Imagination"/>
                                    </div>
                                    <!--<div class="portfolio-desc center nobottompadding">-->
                                    <!--<h3><a href="portfolio-single.html">Open Imagination</a></h3>-->
                                    <!--<span><a href="#">Media</a>, <a href="#">Icons</a></span>-->
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="widget widget-twitter-feed clearfix">
                        <table>
                            <tbody>
                            <!--<div class="form-group row">-->
                            <!--<label class="col-xs-5 form-control-label">Idx</label>-->
                            <!--<td class="col-xs-8">-->
                            <!--<p>{{memberIdx}}</p>-->
                            <!--</td>-->
                            <!--</div>-->
                            <div class="form-group row">
                                <label class="col-xs-5 form-control-label">업체명</label>
                                <td class="col-xs-8">
                                    <p>{{companyName}}</p>
                                </td>
                            </div>
                            <!--<div class="form-group row">-->
                            <!--<label class="col-xs-5 form-control-label">사업장 위치</label>-->
                            <!--<td class="col-xs-8">-->
                            <!--<p>{{mainWorkField}} 평</p>-->
                            <!--</td>-->
                            <!--</div>-->
                            <div class="form-group row">
                                <label class="col-xs-5 form-control-label">사업장<br/>위치</label>
                                <td class="col-xs-8">
                                    <p>{{mainWorkArea}}</p>
                                </td>
                            </div>
                            <div class="form-group row">
                                <label class="col-xs-5 form-control-label">연락처</label>
                                <td class="col-xs-8">
                                    <p>{{contact}}</p>
                                </td>
                            </div>
                            </tbody>
                        </table>
                    </div>

                    <!--공유, 찜하기, 견적신청-->
                    <div class="widget clearfix">
                        <div class="tagcloud">
                            <div style="text-align: center">
                                <button class="btn btn-rounded btn-inline" (click)="onListBuildCase()">공유</button>
                                <button class="btn btn-rounded btn-inline"
                                        *ngIf="loginMemberIdx != null && loginMemberIdx == memberIdx"
                                        (click)="onDelBuildCase()">찜하기
                                </button>
                            </div>
                        </div>

                    </div>


                    <div class="widget clearfix">

                        <h4>Tag Cloud</h4>
                        <div class="tagcloud">
                            <a href="#">general</a>
                            <a href="#">videos</a>
                            <a href="#">music</a>
                            <a href="#">media</a>
                            <a href="#">photography</a>
                            <a href="#">parallax</a>
                            <a href="#">ecommerce</a>
                            <a href="#">terms</a>
                            <a href="#">coupons</a>
                            <a href="#">modern</a>
                        </div>

                    </div>

                </div>
            </div><!-- .sidebar end -->
        </div>
    </div>

</section><!-- #content end -->