
<section id="content">

    <div class="content-wrap" style="padding-bottom: 0px;">

        <div class="container clearfix">

            <!-- Post Content
                      ============================================= -->
            <div class="postcontent nobottommargin clearfix">

                <div class="single-post nobottommargin">

                    <!-- Single Post
                                  ============================================= -->
                    <div class="entry clearfix" style="padding-bottom: 0px; margin-bottom: 0px;">

                        <!-- Entry Title
                                        ============================================= -->
                        <div class="entry-title">
                            <h2>{{title}}</h2>
                            <!--<h2>This is a Standard post with a Preview Image</h2>-->
                        </div><!-- .entry-title end -->

                        <!-- Entry Meta
                                        ============================================= -->
                        <ul class="entry-meta clearfix">
                            <li><i class="icon-calendar3"></i> {{initWriteDate}}  </li>
                            <li><a href="#"><!--<i class="icon-user"></i>--> 방구조 {{roomType}}</a></li>
                            <!--<li><i class="icon-folder-open"></i> <a href="#">General</a>, <a href="#">Media</a></li>-->
                            <li><a href="#"><i class="icon-comments"></i> 43 Comments</a></li>
                            <!--<li><a href="#"><i class="icon-camera-retro"></i></a></li>-->
                        </ul><!-- .entry-meta end -->

                        <!-- Entry Image
                                        ============================================= -->
                        <div id="pano" class="entry-image">
                            <noscript><table style="width:100%;height:100%;"><tr style="vertical-align:middle;text-align:center;"><td>ERROR:<br><br>Javascript not activated<br><br></td></tr></table></noscript>
                            <!--<img src="{{serverHost}}/{{companyIntroImage}}" style="width: 100%;">-->
                        </div><!-- .entry-image end -->

                        <div class="entry-content notopmargin">

                            <table class="table table-striped">
                                <!--<thead>-->
                                <!--<tr>-->
                                    <!--<th></th>-->
                                    <!--<th></th>-->
                                    <!--<th></th>-->
                                    <!--<th></th>-->
                                    <!--<th></th>-->
                                <!--</tr>-->
                                <!--</thead>-->
                                <tbody>
                                <tr>
                                    <td>보증금</td>
                                    <td>{{deposit}}</td>
                                    <td>관리<br/>항목</td>
                                    <td>{{manageService}}</td>
                                </tr>
                                <tr>
                                    <td>월세</td>
                                    <td>{{monthlyRentFee}}</td>
                                    <td>관리비</td>
                                    <td>{{manageExpense}}</td>
                                </tr>
                                <tr>
                                    <td>면적</td>
                                    <td>{{areaSize}}</td>
                                    <td>크기</td>
                                    <td>{{actualSize}}</td>
                                </tr>
                                <tr>
                                    <td>주차대수</td>
                                    <td>{{parking}}</td>
                                    <td>엘리베이터</td>
                                    <td>{{elevator}}</td>
                                </tr>
                                <tr>
                                    <td>옵션</td>
                                    <td>{{supplyOption}}</td>
                                    <td>입주 <br/>가능일</td>
                                    <td>{{availableDate}}</td>
                                </tr>
                                <tr>
                                    <td>주소</td>
                                    <td>{{address}}</td>
                                    <td>도로명주소</td>
                                    <td>{{locationInfo}}</td>
                                </tr>

                                </tbody>
                            </table>



                            <div class="clear"></div>

                        </div>


                        <!-- Entry Content
                                        ============================================= -->


                    </div><!-- .entry end -->


                    <div style="text-align: center">
                        <button class="btn btn-rounded btn-inline" (click)="onListBuildCase()">목록</button>
                        <button class="btn btn-rounded btn-inline" *ngIf="loginMemberIdx != null && loginMemberIdx == memberIdx" (click)="onDelBuildCase()">삭제</button>
                        <button hidden class="btn btn-rounded btn-inline" *ngIf="loginMemberIdx != null && loginMemberIdx == memberIdx" (click)="onUpdateBuildCase()">수정</button>
                    </div>

                    <!-- Comments
                              ============================================= -->
                    <!--<div id="comments" class="clearfix">-->

                        <!--<h3 id="comments-title"><span>-->
                            <!--&lt;!&ndash;<fb:comments-count href="http://themes.semicolonweb.com/html/coworker/blog-single-split.php"></fb:comments-count>&ndash;&gt;-->

                        <!--</span> Comments</h3>-->

                        <!--&lt;!&ndash; Facebook Comments-->
                        <!--============================================= &ndash;&gt;-->
                        <!--<div class="fb-comments" data-width="100%" data-href="http://themes.semicolonweb.com/html/coworker/blog-single-split.php" data-numposts="5" data-colorscheme="light"></div>-->
                        <!--&lt;!&ndash; Facebook Comments end &ndash;&gt;-->

                    <!--</div>&lt;!&ndash; #comments end &ndash;&gt;-->


                </div>

            </div><!-- .postcontent end -->


            <div class="sidebar nobottommargin col_last clearfix">
                <div class="sidebar-widgets-wrap">

                    <div class="widget clearfix">

                        <h4> 업체 정보 </h4>
                        <div id="oc-portfolio-sidebar" class="owl-carousel carousel-widget" data-items="1" data-margin="10" data-loop="true" data-nav="false" data-autoplay="5000">
                            <div class="oc-item">
                                <div class="iportfolio">
                                    <div class="portfolio-image">
                                        <a routerLink="/bizListDetail/{{memberIdx}}">
                                            <img src="{{serverHost}}/{{companyIntroImage}}" alt="Open Imagination">
                                        </a>

                                    </div>
                                    <!--<div class="portfolio-desc center nobottompadding">-->
                                        <!--<h3><a href="portfolio-single.html">Open Imagination</a></h3>-->
                                        <!--<span><a href="#">Media</a>, <a href="#">Icons</a></span>-->
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="widget widget-twitter-feed clearfix">
                        <table>
                            <tbody>
                            <!--<div class="form-group row">-->
                                <!--<label class="col-xs-5 form-control-label">Idx</label>-->
                                <!--<td class="col-xs-8">-->
                                    <!--<p>{{memberIdx}}</p>-->
                                <!--</td>-->
                            <!--</div>-->
                            <div class="form-group row">
                                <label class="col-xs-5 form-control-label">업체명</label>
                                <td class="col-xs-8">
                                    <p>{{companyName}}</p>
                                </td>
                            </div>
                            <div class="form-group row">
                                <label class="col-xs-5 form-control-label">업체정보</label>
                                <td class="col-xs-8">
                                    <p>{{aboutCompany}}</p>`
                                </td>
                            </div>
                            <!--<div class="form-group row">-->
                                <!--<label class="col-xs-5 form-control-label">사업장 위치</label>-->
                                <!--<td class="col-xs-8">-->
                                    <!--<p>{{mainWorkField}} 평</p>-->
                                <!--</td>-->
                            <!--</div>-->
                            <div class="form-group row">
                                <label class="col-xs-5 form-control-label">사업장 위치</label>
                                <td class="col-xs-8">
                                    <p>{{mainWorkArea}}</p>
                                </td>
                            </div>
                            <div class="form-group row">
                                <label class="col-xs-5 form-control-label">연락처</label>
                                <td class="col-xs-8">
                                    <p>{{contact}}</p>
                                </td>
                            </div>
                            </tbody>
                        </table>
                    </div>

                    <div class="widget clearfix">

                        <h4>Tag Cloud</h4>
                        <div class="tagcloud">
                            <a href="#">general</a>
                            <a href="#">videos</a>
                            <a href="#">music</a>
                            <a href="#">media</a>
                            <a href="#">photography</a>
                            <a href="#">parallax</a>
                            <a href="#">ecommerce</a>
                            <a href="#">terms</a>
                            <a href="#">coupons</a>
                            <a href="#">modern</a>
                        </div>

                    </div>

                </div>
            </div><!-- .sidebar end -->
        </div>

    </div>

</section><!-- #content end -->