/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

/* Signup Page CSS */
#member-type-select input:not(:checked) + label {
	background-color:#FFF;
	color:#333;
}

#member-type-select > div {
	margin-bottom:30px !important;
}

#member-type-select:parent {
	margin-left:3%;
}