<!-- Top Bar
      ============================================= -->
<div id="top-bar">

  <div class="container clearfix">

    <div class="col_half nobottommargin">

      <!-- Top Links
                ============================================= -->
      <div class="top-links">
        <ul>
          <li *ngIf="!logined"><a routerLink="/login"><strong>로그인/회원가입</strong></a></li>
          <li *ngIf="logined"><a routerLink="/change">내 정보수정</a></li>
          <li *ngIf="logined"><a routerLink="/buildcaselately">최근 본 사례 조회</a></li>
          <li *ngIf="logined"><a routerLink="/buildcaseselected">찜한 사례 조회</a></li>
          <li *ngIf="logined"><a routerLink="/consultingMyListInfo">내 컨설팅 정보</a></li>
          <li *ngIf="logined"><a routerLink="/list/room">방 정보 목록 조회</a></li>
          <li *ngIf="logined"><a (click)="logout()">로그아웃</a></li>
        </ul>
      </div><!-- .top-links end -->

    </div>

    <div class="col_half fright col_last nobottommargin">

      <!-- Top Social
                ============================================= -->
      <div id="top-social">
        <ul>
          <li><a href="#" class="si-facebook"><span class="ts-icon"><i class="icon-facebook"></i></span><span class="ts-text">Facebook</span></a></li>
          <li><a href="#" class="si-twitter"><span class="ts-icon"><i class="icon-twitter"></i></span><span class="ts-text">Twitter</span></a></li>
          <li><a href="#" class="si-dribbble"><span class="ts-icon"><i class="icon-dribbble"></i></span><span class="ts-text">Dribbble</span></a></li>
          <li><a href="#" class="si-github"><span class="ts-icon"><i class="icon-github-circled"></i></span><span class="ts-text">Github</span></a></li>
          <li><a href="#" class="si-pinterest"><span class="ts-icon"><i class="icon-pinterest"></i></span><span class="ts-text">Pinterest</span></a></li>
          <li><a href="#" class="si-instagram"><span class="ts-icon"><i class="icon-instagram2"></i></span><span class="ts-text">Instagram</span></a></li>
          <li><a href="tel:+91.11.85412542" class="si-call"><span class="ts-icon"><i class="icon-call"></i></span><span class="ts-text">+91.11.85412542</span></a></li>
          <li><a href="mailto:info@canvas.com" class="si-email3"><span class="ts-icon"><i class="icon-email3"></i></span><span class="ts-text">kcmin@naver.com</span></a></li>
        </ul>
      </div><!-- #top-social end -->

    </div>

  </div>

</div><!-- #top-bar end -->
<!-- Header
      ============================================= -->
<header id="header" class="sticky-style-2">

  <div class="container clearfix">

    <!-- Logo
            ============================================= -->
    <div id="logo">
      <a href="index.html" class="standard-logo"><img src="../assets/construction/images/logo_cozyhouzz2.png" alt="Canvas Logo"></a>
      <a href="index.html" class="retina-logo"><img src="../assets/construction/images/logo_cozyhouzz@2x.png" alt="Canvas Logo"></a>
    </div>

    <ul class="header-extras">
      <li>
        <i class="i-plain icon-email3 nomargin"></i>
        <div class="he-text">
          EMAIL
          <span>kcmin08@naver.com</span>
        </div>
      </li>
      <li>
        <i class="i-plain icon-call nomargin"></i>
        <div class="he-text">
          Phone number
          <span>010-6310-2751</span>
        </div>
      </li>
    </ul>

  </div>

  <div id="header-wrap">

    <!-- Primary Navigation
            ============================================= -->
    <nav id="primary-menu" class="style-2">

      <div class="container clearfix">

        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

        <ul>
          <li><a routerLink="/" routerLinkActive="active"><div>Home</div></a></li>
          <li><a routerLink="/buildcaselist"><div>시공사례</div></a>
            <ul>
              <li><a routerLink="/buildcaseinput"><div><i class="icon-stack"></i>시공사례입력</div></a></li>
              <li><a routerLink="/buildcaselist"><div><i class="icon-gift"></i>시공사례조회</div></a></li>
            </ul>
          </li>
          <li><a routerLink="/consultingListInfo"><div>컨설팅</div></a>
            <ul>
              <li><a routerLink="/consultingCounsel"><div><i class="icon-stack"></i>상담 받기</div></a></li>
              <li><a routerLink="/consultingListInfo"><div><i class="icon-gift"></i>컨설팅 정보 조회</div></a></li>
            </ul>
          </li>
          <li><a routerLink="/bizList"><div>등록업체정보</div></a>
          <ul>
            <li><a routerLink="/bizList"><div><i class="icon-stack"></i>업체 목록</div></a></li>
          </ul>
        </li>
          <li><a routerLink="/list/room"><div>방 정보 홍보 보기</div></a>
            <ul>
              <li><a routerLink="/create/room"><div><i class="icon-stack"></i>방 등록</div></a></li>
              <li><a routerLink="/list/room"><div><i class="icon-stack"></i>방 정보 목록조회</div></a></li>
            </ul>
          </li>
        </ul>

        <!-- Top Cart
                    ============================================= -->
        <div id="top-cart">
          <a href="#" id="top-cart-trigger"><i class="icon-shopping-cart"></i><span>5</span></a>
          <div class="top-cart-content">
            <div class="top-cart-title">
              <h4>Shopping Cart</h4>
            </div>
            <div class="top-cart-items">
              <div class="top-cart-item clearfix">
                <div class="top-cart-item-image">
                  <a href="#"><img src="../assets/images/shop/small/1.jpg" alt="Blue Round-Neck Tshirt" /></a>
                </div>
                <div class="top-cart-item-desc">
                  <a href="#">Blue Round-Neck Tshirt</a>
                  <span class="top-cart-item-price">$19.99</span>
                  <span class="top-cart-item-quantity">x 2</span>
                </div>
              </div>
              <div class="top-cart-item clearfix">
                <div class="top-cart-item-image">
                  <a href="#"><img src="../assets/images/shop/small/6.jpg" alt="Light Blue Denim Dress" /></a>
                </div>
                <div class="top-cart-item-desc">
                  <a href="#">Light Blue Denim Dress</a>
                  <span class="top-cart-item-price">$24.99</span>
                  <span class="top-cart-item-quantity">x 3</span>
                </div>
              </div>
            </div>
            <div class="top-cart-action clearfix">
              <span class="fleft top-checkout-price">$114.95</span>
              <button class="button button-3d button-small nomargin fright">View Cart</button>
            </div>
          </div>
        </div><!-- #top-cart end -->

        <!-- Top Search
                    ============================================= -->
        <div id="top-search">
          <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
          <form action="search.html" method="get">
            <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
          </form>
        </div><!-- #top-search end -->

      </div>

    </nav><!-- #primary-menu end -->

  </div>

</header><!-- #header end -->

<router-outlet></router-outlet>

<!-- Footer
      ============================================= -->
<footer id="footer" class="dark">

  <div class="container">

    <!-- Footer Widgets
            ============================================= -->
    <div class="footer-widgets-wrap clearfix">

      <div class="col_one_third">

        <div class="widget clearfix">
          <strong>VR,3D,건축</strong><br>
          <strong>인테리어도면</strong><br>
          <strong>3D&VR Interior</strong><br>

          <div style="background: url('../assets/images/world-map.png') no-repeat center center; background-size: 100%;">
            <address>
              <strong>주소</strong><br>
              전라북도 전주시 전북대학교<br>
              아늑한집(cozyhouzz)<br>
            </address>
            <abbr title="Phone Number"><strong>Phone:</strong></abbr> (010) 6310 2751 <br>
            <abbr title="Fax"><strong>Fax:</strong></abbr> (0303) 3441 2109 <br>
            <abbr title="Email Address"><strong>Email:</strong></abbr> kcmin@naver.com
          </div>

        </div>

      </div>

      <div class="col_one_third">

        <div class="widget clearfix">
          <h4>"아늑한 집"을 쓰면 뭐가 좋아요?</h4>

          <div class="fslider testimonial no-image nobg noborder noshadow nopadding" data-animation="slide" data-arrows="false">
            <div class="flexslider">
              <div class="slider-wrap">
                <div class="slide">
                  <div class="testi-image">
                    <a href="#"><img src="../assets/images/testimonials/3.jpg" alt="Customer Testimonails"></a>
                  </div>
                  <div class="testi-content">
                    <p>처음부터 끝까지 "아늑한 집"의 고객만족 서비스로 내집, 내 가게를 믿고 맡기세요!</p>
                    <div class="testi-meta">
                      시공의뢰조회
                    </div>
                  </div>
                </div>
                <div class="slide">
                  <div class="testi-image">
                    <a href="#"><img src="../assets/images/testimonials/2.jpg" alt="Customer Testimonails"></a>
                  </div>
                  <div class="testi-content">
                    <p>저희 "아늑한 집"이 함께 매출과 고객 만족도를 동시에 올려드립니다!</p>
                    <div class="testi-meta">
                      시공업체
                    </div>
                  </div>
                </div>
                <div class="slide">
                  <div class="testi-image">
                    <a href="#"><img src="../assets/images/testimonials/1.jpg" alt="Customer Testimonails"></a>
                  </div>
                  <div class="testi-content">
                    <p>내방, 우리집찾으러 돌아다니기 지치셨나요? 360VR 미리보기로 쉽고 빠르게 내방, 우리집을 찾으러 오세요!</p>
                    <div class="testi-meta">
                     세입자
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="widget clearfix">

          <a href="#" class="social-icon si-small si-rounded si-facebook">
            <i class="icon-facebook"></i>
            <i class="icon-facebook"></i>
          </a>

          <a href="#" class="social-icon si-small si-rounded si-twitter">
            <i class="icon-twitter"></i>
            <i class="icon-twitter"></i>
          </a>

          <a href="#" class="social-icon si-small si-rounded si-gplus">
            <i class="icon-gplus"></i>
            <i class="icon-gplus"></i>
          </a>

          <a href="#" class="social-icon si-small si-rounded si-pinterest">
            <i class="icon-pinterest"></i>
            <i class="icon-pinterest"></i>
          </a>

          <a href="#" class="social-icon si-small si-rounded si-vimeo">
            <i class="icon-vimeo"></i>
            <i class="icon-vimeo"></i>
          </a>

          <a href="#" class="social-icon si-small si-rounded si-github">
            <i class="icon-github"></i>
            <i class="icon-github"></i>
          </a>

          <a href="#" class="social-icon si-small si-rounded si-yahoo">
            <i class="icon-yahoo"></i>
            <i class="icon-yahoo"></i>
          </a>

          <a href="#" class="social-icon si-small si-rounded si-linkedin">
            <i class="icon-linkedin"></i>
            <i class="icon-linkedin"></i>
          </a>

        </div>

      </div>

      <div class="col_one_third col_last">

        <div class="widget quick-contact-widget clearfix">

          <h4>Send Message</h4>

          <div class="quick-contact-form-result"></div>

          <form id="quick-contact-form" name="quick-contact-form" action="include/quickcontact.php" method="post" class="quick-contact-form nobottommargin">

            <div class="form-process"></div>

            <div class="input-group divcenter">
              <span class="input-group-addon"><i class="icon-user"></i></span>
              <input type="text" class="required form-control input-block-level" id="quick-contact-form-name" name="quick-contact-form-name" value="" placeholder="Full Name" />
            </div>
            <div class="input-group divcenter">
              <span class="input-group-addon"><i class="icon-email2"></i></span>
              <input type="text" class="required form-control email input-block-level" id="quick-contact-form-email" name="quick-contact-form-email" value="" placeholder="Email Address" />
            </div>
            <textarea class="required form-control input-block-level short-textarea" id="quick-contact-form-message" name="quick-contact-form-message" rows="4" cols="30" placeholder="Message"></textarea>
            <input type="text" class="hidden" id="quick-contact-form-botcheck" name="quick-contact-form-botcheck" value="" />
            <button type="submit" id="quick-contact-form-submit" name="quick-contact-form-submit" class="btn btn-danger nomargin" value="submit">Send Email</button>

          </form>

        </div>

      </div>

    </div><!-- .footer-widgets-wrap end -->

  </div>

  <!-- Copyrights
        ============================================= -->
  <div id="copyrights">

    <div class="container clearfix">

      <div class="col_half">
        <strong>아늑한 집(cozyhouzz)</strong>
      </div>

      <div class="col_half col_last tright">
        <div class="fright clearfix">
          <div class="copyrights-menu copyright-links nobottommargin">
            <a href="#">Homepage</a>/<a href="#">Blog</a>/<a href="#">FAQs</a>/<a href="#">Contents</a>
          </div>
        </div>
      </div>

    </div>

  </div><!-- #copyrights end -->
</footer><!-- #footer end -->