<!-- Header
		============================================= -->
<div id="top-bar">

  <div class="container clearfix">

    <div class="col_half nobottommargin">

      <!-- Top Links
                ============================================= -->
      <div class="top-links">
        <ul>
          <li *ngIf="!logined"><a routerLink="/login"><strong>로그인/회원가입</strong></a></li>
          <li *ngIf="logined"><a routerLink="/change"><strong>내 정보수정</strong></a></li>
          <!--<li *ngIf="logined"><a routerLink="/buildcaselately"><strong>최근 본 사례 조회</strong></a></li>-->
          <!--<li *ngIf="logined"><a routerLink="/buildcaseselected"><strong>찜한 사례 조회</strong></a></li>-->
          <li *ngIf="logined"><a routerLink="/consultingMyListInfo"><strong>내 컨설팅 정보</strong></a></li>
          <!--<li *ngIf="logined"><a routerLink="/list/room"><strong>방 정보 목록 조회</strong></a></li>-->
          <li *ngIf="logined"><a (click)="logout()"><strong>로그아웃</strong></a></li>
        </ul>
      </div><!-- .top-links end -->

    </div>

    <div class="col_half fright col_last nobottommargin">

      <!-- Top Social
                ============================================= -->
      <div id="top-social">
        <ul>
          <li><a href="#" class="si-facebook"><span class="ts-icon"><i class="icon-facebook"></i></span><span class="ts-text">Facebook</span></a></li>
          <li><a href="#" class="si-twitter"><span class="ts-icon"><i class="icon-twitter"></i></span><span class="ts-text">Twitter</span></a></li>
          <li><a href="#" class="si-dribbble"><span class="ts-icon"><i class="icon-dribbble"></i></span><span class="ts-text">Dribbble</span></a></li>
          <li><a href="#" class="si-github"><span class="ts-icon"><i class="icon-github-circled"></i></span><span class="ts-text">Github</span></a></li>
          <li><a href="#" class="si-pinterest"><span class="ts-icon"><i class="icon-pinterest"></i></span><span class="ts-text">Pinterest</span></a></li>
          <li><a href="#" class="si-instagram"><span class="ts-icon"><i class="icon-instagram2"></i></span><span class="ts-text">Instagram</span></a></li>
          <li><a href="tel:+91.11.85412542" class="si-call"><span class="ts-icon"><i class="icon-call"></i></span><span class="ts-text">+91.11.85412542</span></a></li>
          <li><a href="mailto:info@canvas.com" class="si-email3"><span class="ts-icon"><i class="icon-email3"></i></span><span class="ts-text">kcmin@naver.com</span></a></li>
        </ul>
      </div><!-- #top-social end -->

    </div>

  </div>

    </div><!-- #top-bar end -->
    <!-- Header
          ============================================= -->
    <header id="header" class="full-header">

      <div class="container clearfix">
          <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
        <!-- Logo
                ============================================= -->
        <div id="logo" ronterLink="/">
          <a ronterLink="/" routerLinkActive="active" class="standard-logo"><img src="../assets/construction/images/logo_cozyhouzz2.png" alt="cozy Logo"></a>
          <a ronterLink="/" routerLinkActive="active" class="retina-logo"><img src="../assets/construction/images/logo_cozyhouzz@2x.png" alt="cozyhouzz Logo"></a>
        </div>

    <nav id="primary-menu" class="mobile-menu-off-canvas dark">

        <ul>
          <li><a routerLink="/" routerLinkActive="active"><div>Home</div></a></li>
<!--          <li><a routerLink="/buildcaselist"><div>시공사례</div></a>
            <ul>
              <li><a routerLink="/buildcaseinput"><div><i class="icon-stack"></i>시공사례입력</div></a></li>
              <li><a routerLink="/buildcaselist"><div><i class="icon-gift"></i>시공사례조회</div></a></li>
            </ul>
          </li>-->
          <li><a routerLink="/consultingListInfo"><div>컨설팅</div></a>
            <ul>
              <li><a routerLink="/consultingCounsel"><div><i class="icon-stack"></i>상담 받기</div></a></li>
              <li><a routerLink="/consultingListInfo"><div><i class="icon-gift"></i>컨설팅 정보 조회</div></a></li>
            </ul>
          </li>
          <!--<li><a routerLink="/bizList"><div>등록업체정보</div></a>
          <ul>
            <li><a routerLink="/bizList"><div><i class="icon-stack"></i>업체 목록</div></a></li>
          </ul>
        </li>-->
          <li><a routerLink="/list/room"><div>방 정보 홍보 보기</div></a>
            <ul>
              <li><a routerLink="/create/room"><div><i class="icon-stack"></i>방 등록</div></a></li>
              <li><a routerLink="/list/room"><div><i class="icon-stack"></i>방 정보 목록조회</div></a></li>
            </ul>
          </li>
        </ul>




    </nav><!-- #primary-menu end -->

  </div>

</header><!-- #header end -->

<router-outlet></router-outlet>




<!-- Footer
      ============================================= -->

<footer id="footer" class="dark" style="background: url('../../../assets/images/footer-bg.jpg') repeat fixed; background-size: 100% 100%;">

  <div class="container">

    <!-- Footer Widgets
    ============================================= -->
    <div class="footer-widgets-wrap clearfix">

      <div class="col_two_third">

        <div class="widget clearfix">

          <img src="../../../assets/images/footer-cozyhouzz-logo2.png" alt="" class="alignleft" style="margin-top: 8px; padding-right: 18px; border-right: 1px solid #4A4A4A;">

          <p>아늑한 집은 <strong>360 VR 미리보기</strong>로 여러분의 선택을 도와드립니다. </p>
          <p>ㅣ<strong>Phone (010) 6310 2751 </strong>ㅣ<strong>FAX (0303) 3441 2109 </strong>ㅣ<strong>EMAIL kcmin08@naver.com </strong>ㅣ</p>
          <div class="line" style="margin: 30px 0;"></div>
        </div>
      </div>

<!--      <div class="col_one_third col_last">

        <div class="widget clearfix">
          <h4>Instagram Photos</h4>
          <div id="instagram-photos" class="instagram-photos masonry-thumbs col-5" data-user="269801886" data-count="10" data-type="tag"></div>
        </div>

      </div>-->

    </div><!-- .footer-widgets-wrap end -->

  </div>



  <!-- Copyrights
  ============================================= -->
  <div id="copyrights">

    <div class="container clearfix">

      <div class="col_half">
        <div class="copyrights-menu copyright-links clearfix">
          <a href="#">Home</a>/<a href="#">공지사항</a>/<a href="#">회사업무</a>/<a href="#">원룸등록</a>/<a href="#">FAQs</a>
        </div>
        아늑한집(cozyhouzz)
      </div>
    </div>

  </div><!-- #copyrights end -->

</footer><!-- #footer end -->

