<!-- Top Bar
		============================================= -->
<div id="top-bar">

  <div class="container clearfix">

    <div class="col_half nobottommargin">

      <!-- Top Links
                ============================================= -->
      <div class="top-links">
        <ul>
          <li><a routerLink="/login" *ngIf="!logined">로그인/회원가입</a></li>
          <li><a routerLink="/change" *ngIf="logined">내 정보수정</a></li>
          <li><a routerLink="/buildcaselately" *ngIf="logined">최근 본 사례 조회</a></li>
          <li><a routerLink="/buildcaseselected" *ngIf="logined">찜한 사례 조회</a></li>
          <li><a routerLink="/consultingMyListInfo" *ngIf="logined">내 컨설팅 정보</a></li>
          <li><a (click)="logout()" *ngIf="logined">로그아웃</a></li>
        </ul>
      </div><!-- .top-links end -->

    </div>

    <div class="col_half fright col_last nobottommargin">

      <!-- Top Social
                ============================================= -->
      <div id="top-social">
        <ul>
          <li><a href="#" class="si-facebook"><span class="ts-icon"><i class="icon-facebook"></i></span><span class="ts-text">Facebook</span></a></li>
          <li><a href="#" class="si-twitter"><span class="ts-icon"><i class="icon-twitter"></i></span><span class="ts-text">Twitter</span></a></li>
          <li><a href="#" class="si-dribbble"><span class="ts-icon"><i class="icon-dribbble"></i></span><span class="ts-text">Dribbble</span></a></li>
          <li><a href="#" class="si-github"><span class="ts-icon"><i class="icon-github-circled"></i></span><span class="ts-text">Github</span></a></li>
          <li><a href="#" class="si-pinterest"><span class="ts-icon"><i class="icon-pinterest"></i></span><span class="ts-text">Pinterest</span></a></li>
          <li><a href="#" class="si-instagram"><span class="ts-icon"><i class="icon-instagram2"></i></span><span class="ts-text">Instagram</span></a></li>
          <li><a href="tel:+91.11.85412542" class="si-call"><span class="ts-icon"><i class="icon-call"></i></span><span class="ts-text">+91.11.85412542</span></a></li>
          <li><a href="mailto:info@canvas.com" class="si-email3"><span class="ts-icon"><i class="icon-email3"></i></span><span class="ts-text">info@canvas.com</span></a></li>
        </ul>
      </div><!-- #top-social end -->

    </div>

  </div>

</div><!-- #top-bar end -->
<!-- Header
		============================================= -->
<header id="header" class="sticky-style-2">

  <div class="container clearfix">

    <!-- Logo
            ============================================= -->
    <div id="logo">
      <a routerLink="/" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="../assets/images/logo.png" alt="Canvas Logo"></a>
      <a routerLink="/" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img src="../assets/images/logo@2x.png" alt="Canvas Logo"></a>
    </div><!-- #logo end -->

    <ul class="header-extras">
      <li>
        <i class="i-plain icon-email3 nomargin"></i>
        <div class="he-text">
          Drop an Email
          <span>info@canvas.com</span>
        </div>
      </li>
      <li>
        <i class="i-plain icon-call nomargin"></i>
        <div class="he-text">
          Get in Touch
          <span>1800-1144-551</span>
        </div>
      </li>
    </ul>

  </div>

  <div id="header-wrap">

    <!-- Primary Navigation
            ============================================= -->
    <nav id="primary-menu" class="style-2">

      <div class="container clearfix">

        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

        <ul>
          <li><a routerLink="/" routerLinkActive="active"><div>Home</div></a></li>
          <li><a routerLink="/buildcaselist"><div>시공사례</div></a>
            <ul>
              <li><a routerLink="/buildcaseinput"><div><i class="icon-stack"></i>시공사례입력</div></a></li>
              <li><a routerLink="/buildcaselist"><div><i class="icon-gift"></i>시공사례조회</div></a></li>
            </ul>
          </li>
          <li><a routerLink="/consultingListInfo"><div>컨설팅</div></a>
            <ul>
              <li><a routerLink="/consultingCounsel"><div><i class="icon-stack"></i>상담 받기</div></a></li>
              <li><a routerLink="/consultingListInfo"><div><i class="icon-gift"></i>컨설팅 정보 조회</div></a></li>
            </ul>
          </li>
          <li><a routerLink="/bizList"><div>등록업체정보</div></a>
            <ul>
              <li><a routerLink="/bizList"><div><i class="icon-stack"></i>업체 목록</div></a></li>
            </ul>
          </li>
        </ul>

        <!-- Top Cart
                    ============================================= -->
        <div id="top-cart">
          <a href="#" id="top-cart-trigger"><i class="icon-shopping-cart"></i><span>5</span></a>
          <div class="top-cart-content">
            <div class="top-cart-title">
              <h4>Shopping Cart</h4>
            </div>
            <div class="top-cart-items">
              <div class="top-cart-item clearfix">
                <div class="top-cart-item-image">
                  <a href="#"><img src="../assets/images/shop/small/1.jpg" alt="Blue Round-Neck Tshirt" /></a>
                </div>
                <div class="top-cart-item-desc">
                  <a href="#">Blue Round-Neck Tshirt</a>
                  <span class="top-cart-item-price">$19.99</span>
                  <span class="top-cart-item-quantity">x 2</span>
                </div>
              </div>
              <div class="top-cart-item clearfix">
                <div class="top-cart-item-image">
                  <a href="#"><img src="../assets/images/shop/small/6.jpg" alt="Light Blue Denim Dress" /></a>
                </div>
                <div class="top-cart-item-desc">
                  <a href="#">Light Blue Denim Dress</a>
                  <span class="top-cart-item-price">$24.99</span>
                  <span class="top-cart-item-quantity">x 3</span>
                </div>
              </div>
            </div>
            <div class="top-cart-action clearfix">
              <span class="fleft top-checkout-price">$114.95</span>
              <button class="button button-3d button-small nomargin fright">View Cart</button>
            </div>
          </div>
        </div><!-- #top-cart end -->

        <!-- Top Search
                    ============================================= -->
        <div id="top-search">
          <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
          <form action="search.html" method="get">
            <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
          </form>
        </div><!-- #top-search end -->

      </div>

    </nav><!-- #primary-menu end -->

  </div>

</header><!-- #header end -->

<!--<header class="site-header" >&lt;!&ndash; [hidden]="router.url==='/login'" &ndash;&gt;
  <div class="container-fluid">
    <a class="site-logo" routerLink="/">
      <img alt="" class="hidden-md-down" src="src/assets/img/logo-ankroom.png">
      <img alt="" class="hidden-lg-up" src="src/assets/img/logo-ankroom-mob.png">
    </a>
    <button class="hamburger hamburger&#45;&#45;htla">
      <span>toggle menu</span>
    </button>
    <div class="site-header-content">
      <div class="site-header-content-in">
        <div class="site-header-shown">

          <div class="site-header-search-container">
            <form class="site-header-search closed">
              <input type="text" placeholder="Search">
              <button type="submit">
                <span class="font-icon-search"></span>
              </button>
              <div class="overlay"></div>
            </form>
          </div>

          &lt;!&ndash;user profile부분&ndash;&gt;

          <a routerLink="/login" [hidden]="logined">로그인/회원가입</a>

          <div class="dropdown user-menu" [hidden]="!logined">
            <button class="dropdown-toggle" id="dd-user-menu" type="button" data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
              <img src="src/assets/img/avatar-2-64.png" alt="">
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd-user-menu">
              <a class="dropdown-item" routerLink="/change"><span class="font-icon glyphicon glyphicon-user"></span>내 정보수정</a>
              <a class="dropdown-item" routerLink="/buildcaselately"><span
                class="font-icon glyphicon glyphicon-book"></span>최근
                본 사례 조회</a>
              <a class="dropdown-item" routerLink="/buildcaseselected"><span
                class="font-icon glyphicon glyphicon-check"></span>찜한 사례 조회</a>
              <a class="dropdown-item" routerLink="/consultingMyListInfo"><span
                class="font-icon glyphicon glyphicon-check"></span>내 컨설팅 정보</a>
              <a class="dropdown-item" routerLink="/"><span class="font-icon glyphicon glyphicon-question-sign"></span>고객상담(Q&A)</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="logout()"><span class="font-icon glyphicon glyphicon-log-out"></span>Logout</a>
            </div>
          </div>
        </div>

        <div class="mobile-menu-right-overlay"></div>
        <div class="site-header-collapsed">
        </div>
      </div>
    </div>
  </div>
</header>
&lt;!&ndash; 해더 수정본 &ndash;&gt;


<div class="mobile-menu-left-overlay" ></div> &lt;!&ndash; [hidden]="router.url==='/login'" &ndash;&gt;
<ul class="main-nav nav nav-inline"> &lt;!&ndash;  [hidden]="router.url==='/login'" &ndash;&gt;
  <li class="nav-item">
    <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">시공사례</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" routerLink="/buildcaseinput">시공사례입력</a>
      <a class="dropdown-item" routerLink="/buildcaselist">시공사례조회</a>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">컨설팅</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" routerLink="/consultingCounsel">상담 받기</a>
      <a class="dropdown-item" routerLink="/consultingListInfo">컨설팅 정보 조회</a>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">등록업체정보</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" routerLink="/bizList">업체 목록</a>
    </div>
  </li>
</ul>
&lt;!&ndash; 사이드 바  &ndash;&gt;-->

<router-outlet></router-outlet>

<!-- Footer
		============================================= -->
<footer id="footer" class="dark">

  <div class="container">

    <!-- Footer Widgets
            ============================================= -->
    <div class="footer-widgets-wrap clearfix">

      <div class="col_one_third">

        <div class="widget clearfix">

          <img src="../assets/images/footer-widget-logo.png" alt="" class="footer-logo">

          <p>We believe in <strong>Simple</strong>, <strong>Creative</strong> &amp; <strong>Flexible</strong> Design Standards with a Retina &amp; Responsive Approach. Browse the amazing Features this template offers.</p>

          <div style="background: url('../assets/images/world-map.png') no-repeat center center; background-size: 100%;">
            <address>
              <strong>Headquarters:</strong><br>
              795 Folsom Ave, Suite 600<br>
              San Francisco, CA 94107<br>
            </address>
            <abbr title="Phone Number"><strong>Phone:</strong></abbr> (91) 8547 632521<br>
            <abbr title="Fax"><strong>Fax:</strong></abbr> (91) 11 4752 1433<br>
            <abbr title="Email Address"><strong>Email:</strong></abbr> info@canvas.com
          </div>

        </div>

      </div>

      <div class="col_one_third">

        <div class="widget clearfix">
          <h4>Client Testimonials</h4>

          <div class="fslider testimonial no-image nobg noborder noshadow nopadding" data-animation="slide" data-arrows="false">
            <div class="flexslider">
              <div class="slider-wrap">
                <div class="slide">
                  <div class="testi-image">
                    <a href="#"><img src="../assets/images/testimonials/3.jpg" alt="Customer Testimonails"></a>
                  </div>
                  <div class="testi-content">
                    <p>Similique fugit repellendus expedita excepturi iure perferendis provident quia eaque. Repellendus, vero numquam?</p>
                    <div class="testi-meta">
                      Steve Jobs
                      <span>Apple Inc.</span>
                    </div>
                  </div>
                </div>
                <div class="slide">
                  <div class="testi-image">
                    <a href="#"><img src="../assets/images/testimonials/2.jpg" alt="Customer Testimonails"></a>
                  </div>
                  <div class="testi-content">
                    <p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
                    <div class="testi-meta">
                      Collis Ta'eed
                      <span>Envato Inc.</span>
                    </div>
                  </div>
                </div>
                <div class="slide">
                  <div class="testi-image">
                    <a href="#"><img src="../assets/images/testimonials/1.jpg" alt="Customer Testimonails"></a>
                  </div>
                  <div class="testi-content">
                    <p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum!</p>
                    <div class="testi-meta">
                      John Doe
                      <span>XYZ Inc.</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="widget clearfix">

          <a href="#" class="social-icon si-small si-rounded si-facebook">
            <i class="icon-facebook"></i>
            <i class="icon-facebook"></i>
          </a>

          <a href="#" class="social-icon si-small si-rounded si-twitter">
            <i class="icon-twitter"></i>
            <i class="icon-twitter"></i>
          </a>

          <a href="#" class="social-icon si-small si-rounded si-gplus">
            <i class="icon-gplus"></i>
            <i class="icon-gplus"></i>
          </a>

          <a href="#" class="social-icon si-small si-rounded si-pinterest">
            <i class="icon-pinterest"></i>
            <i class="icon-pinterest"></i>
          </a>

          <a href="#" class="social-icon si-small si-rounded si-vimeo">
            <i class="icon-vimeo"></i>
            <i class="icon-vimeo"></i>
          </a>

          <a href="#" class="social-icon si-small si-rounded si-github">
            <i class="icon-github"></i>
            <i class="icon-github"></i>
          </a>

          <a href="#" class="social-icon si-small si-rounded si-yahoo">
            <i class="icon-yahoo"></i>
            <i class="icon-yahoo"></i>
          </a>

          <a href="#" class="social-icon si-small si-rounded si-linkedin">
            <i class="icon-linkedin"></i>
            <i class="icon-linkedin"></i>
          </a>

        </div>

      </div>

      <div class="col_one_third col_last">

        <div class="widget quick-contact-widget clearfix">

          <h4>Send Message</h4>

          <div class="quick-contact-form-result"></div>

          <form id="quick-contact-form" name="quick-contact-form" action="include/quickcontact.php" method="post" class="quick-contact-form nobottommargin">

            <div class="form-process"></div>

            <div class="input-group divcenter">
              <span class="input-group-addon"><i class="icon-user"></i></span>
              <input type="text" class="required form-control input-block-level" id="quick-contact-form-name" name="quick-contact-form-name" value="" placeholder="Full Name" />
            </div>
            <div class="input-group divcenter">
              <span class="input-group-addon"><i class="icon-email2"></i></span>
              <input type="text" class="required form-control email input-block-level" id="quick-contact-form-email" name="quick-contact-form-email" value="" placeholder="Email Address" />
            </div>
            <textarea class="required form-control input-block-level short-textarea" id="quick-contact-form-message" name="quick-contact-form-message" rows="4" cols="30" placeholder="Message"></textarea>
            <input type="text" class="hidden" id="quick-contact-form-botcheck" name="quick-contact-form-botcheck" value="" />
            <button type="submit" id="quick-contact-form-submit" name="quick-contact-form-submit" class="btn btn-danger nomargin" value="submit">Send Email</button>

          </form>

        </div>

      </div>

    </div><!-- .footer-widgets-wrap end -->

  </div>

  <!-- Copyrights
        ============================================= -->
  <div id="copyrights">

    <div class="container clearfix">

      <div class="col_half">
        Copyrights &copy; 2014 All Rights Reserved by Canvas Inc.
      </div>

      <div class="col_half col_last tright">
        <div class="fright clearfix">
          <div class="copyrights-menu copyright-links nobottommargin">
            <a href="#">Home</a>/<a href="#">About</a>/<a href="#">Features</a>/<a href="#">Portfolio</a>/<a href="#">FAQs</a>/<a href="#">Contact</a>
          </div>
        </div>
      </div>

    </div>

  </div><!-- #copyrights end -->
</footer><!-- #footer end -->
