<div class="clearfix">

  <!-- Page Title
    ============================================= -->
  <section id="page-title">

    <div class="container clearfix">
      <h1>시공사례 목록</h1>
      <span>여러 시공사례들을 한눈에 확인할수 있습니다</span>
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">시공사례 목록</li>
      </ol>
    </div>

  </section><!-- #page-title end -->

  <!-- 시공사례조회 -->

  <section id="content" style="margin-left: auto;">

    <div class="content-wrap">

      <div class="container clearfix">

        <div class="postcontent nobottommargin">

          <div id="posts" class="events small-thumbs">


            <div class="entry clearfix" *ngFor="let buildCase of returnedDatas">

              <thead>

              <!--왼쪽이미지, 이미지파일 업로드 필요함 -->

              <div class="entry-image">

                <a routerLink="/buildcasedetail/{{buildCase.selectedBuildCaseIdx}}">
                  <img src="{{serverHost}}/{{buildCase.mainPreviewImage}}" alt="Inventore voluptates velit totam ipsa tenetur">
                </a>
              </div>

              <!-- 내용 -->
              <div class="entry-c">
                <div class="entry-title">
                  <a style="color: #9d270b" routerLink="/buildcasedetail/{{buildCase.selectedBuildCaseIdx}}" >{{buildCase.title}}</a>
                  <!--<h2><a href="#">Inventore voluptates velit totam ipsa tenetur</a></h2>-->
                </div>
                <ul class="entry-meta clearfix">
                  <li><span class="label label-warning">정보</span></li>
                  <li><a href="#"><i class="icon-time"></i> 시간 </a></li>
                  <li><a href="#"><i class="icon-map-marker2"></i> 장소 </a></li>
                </ul>
                <div class="entry-content">
                  <p>{{buildCase.buildPlace}}</p>
                  <!--Buy Tickets, Read More 버튼인데 이거 어케 처리할까염-->
                  <!--<a href="#" class="btn btn-default" disabled="disabled">Buy Tickets</a> <a href="#" class="btn btn-danger">Read More</a>-->
                </div>
              </div>
              </thead>


              <!--<tbody>-->
              <!--<tr *ngFor="let buildCase of returnedDatas">-->
              <!--<td class="entry-date">{{selectedBuildCaseIdx}}</td>-->
              <!--<td class="entry-image">{{mainPreviewImage}}</td>-->
              <!--<td class="entry-title">{{title}}</td>-->
              <!--&lt;!&ndash;ts파일에서 가장 근접해보이는거 사용&ndash;&gt;-->
              <!--<td class="entry-meta clearfix">{{buildPlace}}</td>-->
              <!--<td class="entry-content">{{HTMLText}}</td>-->
              <!--</tr>-->
              <!--</tbody>-->

            </div>



          </div>



          <!-- Pagination
                 ============================================= -->
          <!--페이지 1~10 까지 확인 가능 disable이나 현재 들어와 있는 페이지 active같은 기능을 추가해주어야함-->
          <div id="pagination">
            <ul class="pagination nobottommargin">
              <li (click)="beforePageButton()"><a>&laquo;</a></li>
              <li (click)="pageNumberButton(1)" [ngClass]="{'active': currentPageNumber == 1}"><a>1</a></li>
              <li (click)="pageNumberButton(2)" [ngClass]="{'active': currentPageNumber == 2}"><a>2</a></li>
              <li (click)="pageNumberButton(3)" [ngClass]="{'active': currentPageNumber == 3}"><a>3</a></li>
              <li (click)="pageNumberButton(4)" [ngClass]="{'active': currentPageNumber == 4}"><a>4</a></li>
              <li (click)="pageNumberButton(5)" [ngClass]="{'active': currentPageNumber == 5}"><a>5</a></li>
              <li (click)="pageNumberButton(6)" [ngClass]="{'active': currentPageNumber == 6}"><a>6</a></li>
              <li (click)="pageNumberButton(7)" [ngClass]="{'active': currentPageNumber == 7}"><a>7</a></li>
              <li (click)="pageNumberButton(8)" [ngClass]="{'active': currentPageNumber == 8}"><a>8</a></li>
              <li (click)="pageNumberButton(9)" [ngClass]="{'active': currentPageNumber == 9}"><a>9</a></li>
              <li (click)="pageNumberButton(10)" [ngClass]="{'active': currentPageNumber == 10}"><a>10</a></li>
              <li (click)="nextPageButton()"><a>&raquo;</a></li>
            </ul>
          </div>

        </div>

        <div class="sidebar nobottommargin col_last clearfix">
          <div class="sidebar-widgets-wrap">

            <div class="widget clearfix">

              <h4>Upcoming Even</h4>
              <div id="post-list-footer">

                <div class="spost clearfix">
                  <div class="entry-image">
                    <a href="#" class="nobg"><img src="../../../assets/images/services/22.jpg" alt=""></a>
                  </div>
                  <div class="entry-c">
                    <div class="entry-title">
                      <h4><a href="#"></a>여러분의 아늑한 집을 위해 노력합니다.</h4>
                    </div>
                    <ul class="entry-meta">
                      <li>2016년 8월</li>
                    </ul>
                  </div>
                </div>

                <div class="spost clearfix">
                  <div class="entry-image">
                    <a href="#" class="nobg"><img src="../../../assets/images/magazine/14.jpg" alt=""></a>
                  </div>
                  <div class="entry-c">
                    <div class="entry-title">
                      <h4><a href="#"></a>다양한 서비스 제공해드립니다.</h4>
                    </div>
                    <ul class="entry-meta">
                      <li>2016년 10월</li>
                    </ul>
                  </div>
                </div>

                <div class="spost clearfix">
                  <div class="entry-image">
                    <a href="#" class="nobg"><img src="../../../assets/images/magazine/15.jpg" alt=""></a>
                  </div>
                  <div class="entry-c">
                    <div class="entry-title">
                      <h4><a href="#">다양한 인테리어 정보를 제공해드립니다.</a></h4>
                    </div>
                    <ul class="entry-meta">
                      <li>2016년 12월</li>
                    </ul>
                  </div>
                </div>

              </div>

            </div>

            <div class="widget clearfix">

              <h4>Events</h4>
              <div id="oc-portfolio-sidebar" class="owl-carousel carousel-widget" data-items="1" data-margin="10" data-loop="true" data-nav="false" data-autoplay="5000">

                <div class="oc-item">
                  <div class="iportfolio">
                    <div class="portfolio-image">
                      <a href="#">
                        <img src="../../../assets/images/events/thumbs/3.jpg" alt="Mac Sunglasses">
                      </a>
                      <div class="portfolio-overlay">
                        <a href="http://vimeo.com/89396394" class="center-icon" data-lightbox="iframe"><i class="icon-line-play"></i></a>
                      </div>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                      <h3><a href="portfolio-single-video.html">저희 "아늑한 집"은 다채로운 행사와 함께 합니다.</a></h3>
                      <span><a href="#">Australia</a></span>
                    </div>
                  </div>
                </div>

                <div class="oc-item">
                  <div class="iportfolio">
                    <div class="portfolio-image">
                      <a href="portfolio-single.html">
                        <img src="../../../assets/images/events/thumbs/1.jpg" alt="Open Imagination">
                      </a>
                      <div class="portfolio-overlay">
                        <a href="../../../assets/images/portfolio/full/1.jpg" class="center-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                      </div>
                    </div>
                    <div class="portfolio-desc center nobottompadding">
                      <h3><a href="portfolio-single.html">저희 "아늑한 집"은 다채로운 행사와 함께 합니다.</a></h3>
                      <span><a href="#">Australia</a></span>
                    </div>
                  </div>
                </div>

              </div>


            </div>

            <div class="widget clearfix">

              <h4>Recent Event in Video</h4>
              <iframe src="//player.vimeo.com/video/103927232" width="500" height="250" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

            </div>

            <div class="widget quick-contact-widget clearfix">

              <h4>Quick Contact</h4>
              <div class="quick-contact-form-result"></div>
              <form id="quick-contact-form" name="quick-contact-form" action="include/quickcontact.php" method="post" class="quick-contact-form nobottommargin">
                <div class="form-process"></div>

                <input type="text" class="required sm-form-control input-block-level" id="quick-contact-form-name" name="quick-contact-form-name" value="" placeholder="Full Name" />
                <input type="text" class="required sm-form-control email input-block-level" id="quick-contact-form-email" name="quick-contact-form-email" value="" placeholder="Email Address" />
                <textarea class="required sm-form-control input-block-level short-textarea" id="quick-contact-form-message" name="quick-contact-form-message" rows="4" cols="30" placeholder="Message"></textarea>
                <input type="text" class="hidden" id="quick-contact-form-botcheck" name="quick-contact-form-botcheck" value="" />
                <button type="submit" id="quick-contact-form-submit" name="quick-contact-form-submit" class="button button-small button-3d nomargin" value="submit">Send Email</button>
              </form>


            </div>

          </div>
        </div>

      </div>

    </div>

  </section><!-- #content end -->

  <!--<div class="page-content">-->
  <!--<div class="container-fluid">-->
  <!--<div class="cards-grid" data-columns>-->
  <!--<div class="col-sm-6 col-md-4 col-xl-3" *ngFor="let buildCase of returnedDatas">-->
  <!--<article class="card-typical">-->
  <!--<div class="card-typical-section card-typical-content">-->
  <!--<div class="photo">-->
  <!--<img src="{{serverHost}}/{{buildCase.mainPreviewImage}}" alt="">-->
  <!--</div>-->
  <!--<div class="title">-->
  <!--<a style="color: #9d270b" routerLink="/buildcasedetail/{{buildCase.selectedBuildCaseIdx}}" >{{buildCase.title}}</a>-->
  <!--<p>{{buildCase.buildPlace}}</p>-->
  <!--</div>-->
  <!--<div>-->
  <!--<span></span>-->
  <!--</div>-->
  <!--</div>-->
  <!--</article>&lt;!&ndash;.card-typical&ndash;&gt;-->
  <!--</div>&lt;!&ndash;.card-grid-col&ndash;&gt;-->
  <!--</div>&lt;!&ndash;.card-grid&ndash;&gt;-->
  <!--<div class="clear"></div>-->

  <!--</div>&lt;!&ndash;.container-fluid&ndash;&gt;-->
  <!--</div>&lt;!&ndash;.page-content&ndash;&gt;-->


</div>





