<!-- 시공사례조회 -->

<section id="content" style="margin-left: auto;">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="postcontent nobottommargin">

        <div id="posts" class="events small-thumbs">


          <div class="entry clearfix" *ngFor="let buildCase of returnedDatas">

            <thead>

            <!--왼쪽이미지, 이미지파일 업로드 필요함 -->

            <div class="entry-image">

              <a href="#">
                <img src="{{serverHost}}/{{buildCase.mainPreviewImage}}" alt="Inventore voluptates velit totam ipsa tenetur">
                <div class="entry-date">10<span>Apr</span></div>
              </a>
            </div>

            <!-- 내용 -->
            <div class="entry-c">
              <div class="entry-title">타이틀
                <a style="color: #9d270b" routerLink="/buildcasedetail/{{buildCase.selectedBuildCaseIdx}}" >{{buildCase.title}}</a>
                <!--<h2><a href="#">Inventore voluptates velit totam ipsa tenetur</a></h2>-->
              </div>
              <ul class="entry-meta clearfix">
                <li><span class="label label-warning">정보</span></li>
                <li><a href="#"><i class="icon-time"></i> 시간 </a></li>
                <li><a href="#"><i class="icon-map-marker2"></i> 장소 </a></li>
              </ul>
              <div class="entry-content">
                <p>{{buildCase.buildPlace}}</p>
                <!--Buy Tickets, Read More 버튼인데 이거 어케 처리할까염-->
                <!--<a href="#" class="btn btn-default" disabled="disabled">Buy Tickets</a> <a href="#" class="btn btn-danger">Read More</a>-->
              </div>
            </div>
            </thead>

            <!--<tbody>-->
            <!--<tr *ngFor="let buildCase of returnedDatas">-->
              <!--<td class="entry-date">{{selectedBuildCaseIdx}}</td>-->
              <!--<td class="entry-image">{{mainPreviewImage}}</td>-->
              <!--<td class="entry-title">{{title}}</td>-->
              <!--&lt;!&ndash;ts파일에서 가장 근접해보이는거 사용&ndash;&gt;-->
              <!--<td class="entry-meta clearfix">{{buildPlace}}</td>-->
              <!--<td class="entry-content">{{HTMLText}}</td>-->
            <!--</tr>-->
            <!--</tbody>-->

          </div>

        </div>



        <!-- Pagination
                    ============================================= -->
        <ul class="pager nomargin">
          <li class="previous"><a href="#">&larr; Older</a></li>
          <li class="next"><a href="#">Newer &rarr;</a></li>
        </ul><!-- .pager end -->

      </div>

    </div>

  </div>

</section><!-- #content end -->

<!--<div class="page-content">-->
  <!--<div class="container-fluid">-->
    <!--<div class="cards-grid" data-columns>-->
      <!--<div class="col-sm-6 col-md-4 col-xl-3" *ngFor="let buildCase of returnedDatas">-->
<!--<article class="card-typical">-->
  <!--<div class="card-typical-section card-typical-content">-->
    <!--<div class="photo">-->
      <!--<img src="{{serverHost}}/{{buildCase.mainPreviewImage}}" alt="">-->
  <!--</div>-->
<!--<div class="title">-->
    <!--<a style="color: #9d270b" routerLink="/buildcasedetail/{{buildCase.selectedBuildCaseIdx}}" >{{buildCase.title}}</a>-->
    <!--<p>{{buildCase.buildPlace}}</p>-->
    <!--</div>-->
  <!--<div>-->
<!--<span></span>-->
<!--</div>-->
<!--</div>-->
<!--</article>&lt;!&ndash;.card-typical&ndash;&gt;-->
<!--</div>&lt;!&ndash;.card-grid-col&ndash;&gt;-->
<!--</div>&lt;!&ndash;.card-grid&ndash;&gt;-->
<!--<div class="clear"></div>-->

<!--</div>&lt;!&ndash;.container-fluid&ndash;&gt;-->
<!--</div>&lt;!&ndash;.page-content&ndash;&gt;-->








