<!--내 컨설팅 정보조회-->
<!-- Page Title
		============================================= -->
<section id="page-title" class="page-title-mini">

  <div class="container clearfix">
    <h1>컨설팅 정보조회</h1>
    <span>여러 컨설팅 정보들을 한눈에 확인할수 있습니다.</span>
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li class="active">Data Tables</li>
    </ol>
  </div>

</section><!-- #page-title end -->

<!-- Content
    ============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="table-responsive">

          <table id="datatable1" class="table table-bordered" cellspacing="0" width="100%">

            <!--table분류-->
            <thead>
            <tr>
              <th class="col-xs-1">번호</th>
              <th class="col-xs-4">제목</th>
              <th class="col-xs-1">작성일</th>
              <th class="col-xs-1">작성자</th>
              <th class="col-xs-1">시공종류</th>
              <th class="col-xs-1">접수현황</th>
            </tr>
            </thead>

            <!--table내용-->
            <tbody
                    infinite-scroll
                    [infiniteScrollDistance]="4"
                    [infiniteScrollThrottle]="500"
                    (scrolled)="onScroll()">
            <tr *ngFor="let consultInfo of returnedDatas">
              <td class="col-xs-1">{{consultInfo.idx}}</td>
              <td class="col-xs-4"><a routerLink="/consultingDetail/{{consultInfo.idx}}" >{{consultInfo.title}}</a></td>
              <td class="col-xs-1">{{consultInfo.initWriteDate}}</td>
              <td class="col-xs-1">{{consultInfo.userName}}</td>
              <td class="col-xs-1">{{consultInfo.buildType}}</td>
              <td class="col-xs-1">접수중</td>
            </tr>
          <!--<tr *ngFor="let consultInfo of returnedDatas">-->
            <!--<td class="col-xs-1">{{consultInfo.idx}}</td>-->
            <!--<td class="col-xs-4"><a routerLink="/consultingDetail/{{consultInfo.idx}}" >{{consultInfo.title}}</a></td>-->
            <!--<td class="col-xs-1">{{consultInfo.initWriteDate}}</td>-->
            <!--<td class="col-xs-1">{{consultInfo.userName}}</td>-->
            <!--<td class="col-xs-1">{{consultInfo.buildType}}</td>-->
            <!--<td class="col-xs-1">접수중</td>-->
          <!--</tr>-->
          </tbody>
        </table>

      </div>

    </div>

  </div>

</section><!-- #content end -->
