<!--내 컨설팅 정보조회-->
<!-- Page Title
		============================================= -->
<section id="page-title">

  <div class="container clearfix">
    <h1>내 컨설팅 정보조회</h1>
    <span>내 컨설팅 정보들을 한눈에 확인할수 있습니다.</span>
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li class="active">Data Tables</li>
    </ol>
  </div>

</section><!-- #page-title end -->

<!-- Content
    ============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="table-responsive">

        <table id="datatable1" class="table table-striped table-bordered" cellspacing="0" width="100%">

          <!--table분류-->
          <thead>
          <tr>
            <th class="col-md-2 col-xs-2">제목</th>
            <th class="col-md-2 col-xs-2">작성일</th>
            <th class="col-md-1 col-xs-1">작성자</th>
            <th class="col-md-5 col-xs-5">주소</th>
            <th class="col-md-1 col-xs-1">시공종류</th>
            <th class="col-md-1 col-xs-1">접수현황</th>
          </tr>
          </thead>

          <!--table내용-->
          <tbody id="datalist">
          <tr *ngFor="let consultInfo of returnedDatas">
            <td class="col-xs-2" *ngIf="consultInfo.memberIdx == loginMemberIdx"><a routerLink="/consultingDetail/{{consultInfo.idx}}" >{{consultInfo.title}}</a></td>
            <td class="col-xs-2" *ngIf="consultInfo.memberIdx == loginMemberIdx">{{consultInfo.initWriteDate}}</td>
            <td class="col-xs-1" *ngIf="consultInfo.memberIdx == loginMemberIdx">{{consultInfo.userName}}</td>
            <td class="col-xs-5" *ngIf="consultInfo.memberIdx == loginMemberIdx">{{consultInfo.buildPlace}}</td>
            <td class="col-xs-1" *ngIf="consultInfo.memberIdx == loginMemberIdx">{{consultInfo.buildType}}</td>
            <td class="col-xs-1" *ngIf="consultInfo.memberIdx == loginMemberIdx">접수중</td>
          </tr>
          </tbody>
        </table>


      </div>

      <!-- Pagination
                        ============================================= -->
      <!--페이지 1~10 까지 확인 가능 disable이나 현재 들어와 있는 페이지 active같은 기능을 추가해주어야함-->
      <div id="pagination">
        <ul class="pagination nobottommargin">
          <li (click)="beforePageButton()"><a>&laquo;</a></li>
          <li (click)="pageNumberButton(1)" [ngClass]="{'active': currentPageNumber == 1}"><a>1</a></li>
          <li (click)="pageNumberButton(2)" [ngClass]="{'active': currentPageNumber == 2}"><a>2</a></li>
          <li (click)="pageNumberButton(3)" [ngClass]="{'active': currentPageNumber == 3}"><a>3</a></li>
          <li (click)="pageNumberButton(4)" [ngClass]="{'active': currentPageNumber == 4}"><a>4</a></li>
          <li (click)="pageNumberButton(5)" [ngClass]="{'active': currentPageNumber == 5}"><a>5</a></li>
          <li (click)="pageNumberButton(6)" [ngClass]="{'active': currentPageNumber == 6}"><a>6</a></li>
          <li (click)="pageNumberButton(7)" [ngClass]="{'active': currentPageNumber == 7}"><a>7</a></li>
          <li (click)="pageNumberButton(8)" [ngClass]="{'active': currentPageNumber == 8}"><a>8</a></li>
          <li (click)="pageNumberButton(9)" [ngClass]="{'active': currentPageNumber == 9}"><a>9</a></li>
          <li (click)="pageNumberButton(10)" [ngClass]="{'active': currentPageNumber == 10}"><a>10</a></li>
          <li (click)="nextPageButton()"><a>&raquo;</a></li>
        </ul>
      </div>

    </div>

  </div>

</section><!-- #content end -->
