<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1">

  <title><%= htmlWebpackPlugin.options.title %></title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

  <% if (webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>

  <!-- base url -->
  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">

  <!-- Stylesheets -canvas younghyeon
   ============================================= -->
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
  <!--<link rel="stylesheet" href="//cdn.jsdelivr.net/xeicon/2/xeicon.min.css">-->
  <link rel="stylesheet" href="assets/css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="assets/style.css" type="text/css" />
  <link rel="stylesheet" href="assets/css/custom.css" type="text/css" />
  <link rel="stylesheet" href="assets/css/swiper.css" type="text/css" />

  <!-- Construction Demo Specific Stylesheet canvas younghyeon -->
  <link rel="stylesheet" href="assets/construction/construction.css" type="text/css" />
  <!-- / -->
  <link rel="stylesheet" href="assets/css/dark.css" type="text/css" />
  <link rel="stylesheet" href="assets/css/font-icons.css" type="text/css" />
  <link rel="stylesheet" href="assets/css/animate.css" type="text/css" />
  <link rel="stylesheet" href="assets/css/magnific-popup.css" type="text/css" />

  <link rel="stylesheet" href="assets/construction/css/fonts.css" type="text/css" />

  <link rel="stylesheet" href="assets/css/responsive.css" type="text/css" />
  
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!--[if lt IE 9]>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->

  <link rel="stylesheet" href="assets/construction/css/colors.css" type="text/css" />

  <!-- include summernote css-->
  <link rel="stylesheet" href="assets/js/lib/summernote/summernote.css">
  <link rel="stylesheet" href="assets/js/lib/summernote/summernote_modalsolution.css">

  <style>
    /* Smartphones (portrait and landscape) ----------- */
    @media (min-width : 320px) {
      #pano {
        height: 350px;
      }
    }

    /* iPads (portrait and landscape) ----------- */
    @media (min-width : 768px) {
      #pano {
        height: 400px;
      }
    }

    /* Desktops and laptops ----------- */
    @media (min-width : 1224px) {
      #pano {
        height: 500px;
      }
    }

    /* Large screens ----------- */
    @media (min-width : 1824px) {
      #pano {
        height: 600px;
      }
    }
  </style>
</head>

<body class="stretched">
<div id="wrapper" class="clearfix">
  <app>
    Loading...
  </app>
</div>
<!-- Go To Top- canvas younghyeon
  ============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>


  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>

  <!-- External JavaScripts
     ============================================= -->
  <script type="text/javascript" src="assets/js-canvas/jquery.js"></script>
  <script type="text/javascript" src="assets/js-canvas/plugins.js"></script>

  <!-- External JavaScripts : Util -->
  <script src="assets/js/lib/moment/moment.js"></script>

  <!-- External JavaScripts : summernote -->
  <script src="assets/js/lib/summernote/summernote.js"></script>

  <!-- External JavaScripts : salvattore -->
  <script src="assets/js/lib/salvattore.min.js"></script>

  <!-- External JavaScripts : Postcodify(우편번호 API) -->
  <script src="assets/js/postcode.js"></script>

  <!-- External JavaScripts : krpano(VR Viewer) -->
  <script src="assets/js/lib/krpano-1.19-pr6-viewer/krpano-tour.js"></script>

  <!-- Footer Scripts
  ============================================= -->
  <!--<script type="text/javascript" src="assets/js-canvas/functions.js"></script>-->
</body>
</html>
